*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $default-font;
    font-size: 1.6rem;
    max-width: 1000px;
    padding: 0rem 1.6rem;
    margin: 0 auto;
    color: $body-bg;
    background-color: $body-bg;
    .random-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .random-heading { 
            width: 50%;
            background: $card-bg;
            padding: 1.6rem;
            border-radius: .6rem;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            .heading {
                color: $body-bg;
                font-weight: bold;
                font-size: 3rem;
                @media (max-width: 495px){
                    font-size: 2rem;
                }
            }
            @media (max-width: 495px){
                width: 100%;
            }
        }
        .button-container {
            width: 50%;
            & button {
                width: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: relative;
                border: none;
                background: $card-bg;
                color: $body-bg;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                padding: 1.6rem 2rem;
                border-radius: .6rem;
                cursor: pointer;
                font-size: 1.6rem;
                font-weight: bold;
                transition: all .2s ease-in-out;
                &:hover {
                    transform: translateY(-2px);
                }
                .loader {
                    width: 24px;
                    height: 24px;
                    border: 5px solid #FFF;
                    border-bottom-color: #FF3D00;
                    border-radius: 50%;
                    display: none;
                    box-sizing: border-box;
                    animation: rotation 1s linear infinite;
                    }
                
                    @keyframes rotation {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                    } 
            }
            @media (max-width: 495px){
                width: 100%;
            }
        }
    }

}